/*for the all page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Console', "Courier New", monospace;
}

body
{
    overflow: hidden;
    background: url("images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    margin: 0;
}

/*basically here I edit all those boxes with questions, answers and the final result*/
.start_button, .quiz_box, .result_box{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.start_button button{
    font-size: 30px;
    font-weight: bold;
    color:#fff;
    background: #000;
    padding: 15px 30px;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);
}

.start_button button:hover
{
    font-style: italic;
    font-size: larger;
    box-shadow: 0 8px 16px 0 rgba(255,255,255,0.2), 0 6px 20px 0 rgba(255,255,255,0.19);

}

.title{
    color:black;
}

.timer{
    color:black;
}

.quiz_box{
    width: 50%;
    height: 50%;
    background: rgb(255,255,255);
    transform: translate(-50%, -50%);
    transition: width 2s, height 2s;
    box-shadow: inset 0 0 15px #000;
}

.quiz_box:hover{
    width: 70%;
    height: 70%;
}

.quiz_box header{
    position: relative;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 10px 10px 0 0;
    align-items: center;
    box-shadow: inset 0 0 15px #000;
}

.quiz_box header .title{
    font-weight: bold;
}

.quiz_box header .timer{
    background: #1E3A8A;
    color: #fff;
    border: 1px solid #FAF3E0;
    padding: 3px 3px;
    border-radius:10px;
    display: flex;
}

.quiz_box header .timer .timer_text .time_seconds{
    font-size: 18px;
    font-weight: bold;
    border-radius:10px;
    color:black;
    text-align: center;
}

section{
    padding:30px;
    background: #1E3A8A;
}

section .question_text{
    font-size: 25px;
}

section .options_given{
    display: block;
    padding: 10px;
}

section .options_given .option{
    background-color: #E0E7FF;
    border-radius: 10px;
    padding: 8px 15px;
    font-size: 20px;
    margin:5px;
    transition: ease-in-out;
    display: flex;
    align-items: center;
}


